.header {
    display: flex;
    justify-content: space-between;
    padding: 40px;

    @include media($tablet) {
        padding: 30px 40px;
    }
    @include media($phone) {
        padding: 24px;
    }

    align-items: center;
    &__logo {
        height: 48px;
        @include media($tablet) {
        height: 32px;
        }
    }
    &__slideshow-starter {
        @extend %link1;
        cursor: pointer;
        @include media($phone) {
        font-size: 9px;
        letter-spacing: 1.929px;
        text-decoration-line: underline;
        }
    }
}

.header__hr {
    border-color: $color-lightgrey;
    margin: 0 40px;
    @include media($tablet) {
        margin: 0;
    }
}
