$color-black: #000;
$color-darkgrey: #7d7d7d;
$color-grey: #e5e5e5;
$color-lightgrey: #f3f3f3;
$color-white: #fff;

$fontFamily: 'Libre Baskerville', sans-serif;

// breakpoins
$desktop: 1440px;
$tablet: 768px;
$phone: 375px;